<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<h1>Pro·pelled by</h1>
		<p class="lead">
			English verb
			<ul>
				<li>
					<em>Caused to move forward or onward by reason of</em>
				</li>
				<li>
					<em>Caused to develop or progress by reason of</em>
				</li>
			</ul>
		</p>
		<p class="lead">
			Examples
			<ul>
				<li>
					<em>Propelled by agile methodologies</em>
				</li>
				<li>
					<em>Propelled by open source</em>
				</li>
				<li>
					<em>Propelled by misfits</em>
				</li>
				<li>
					<em>Propelled by music</em>
				</li>
				<li>
					<em>Propelled by passion</em>
				</li>
				<li>
					<em>Propelled by the team</em>
				</li>
				<li>
					<em>Propelled by visualization</em>
				</li>
			</ul>
		</p>
		<p class="lead">
			Trad. française
			<ul>
				<li>
					<em>Mis en mouvement par</em>
				</li>
			</ul>
		</p>
		<p class="lead">
			Trad. español
			<ul>
				<li>
					<em>Impulsado por</em>
				</li>
			</ul>
		</p>
	</div>
</div>


<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

